{% extends 'layout.html' %}
{% block Home %}
<style>
    ul.list-li {
        list-style: none;
    }
</style>
<div class="container mt-5">
    <div class="row">
        <div class="card">
            <div>
                <h3 class="text-center">Contact Us</h3>
            </div>
            <div class="card-body">  
                <div>
                    <p>
                        If you have any questions, concerns, or feedback, please feel free to contact us using the following information.
                    </p>
                    <ul>
                        <li class="list-li">Email: info@gmail.com</li>
                        <li class="list-li">Phone: +1 (857) 232-9872</li>
                    </ul>
                
                </div>             
            </div>
        </div>
    </div>
</div>
{% endblock %}